.social_block {
    position: absolute;
    width: 810px;
    height: 630px;
    left: 525px;
    top: 387px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
}

.friends_tab{
    border: 1px solid red;
}

.text_friends_tab {
    display: block;
    position: absolute;
    width: 270px;
    height: 40px;
    left: 15px;
    top: 20px;
}

.text_posts_tab {
    display: block;
    position: absolute;
    width: 270px;
    height: 40px;
    left: 285px;
    top: 20px;
}

.border_bottom_class {
    border-bottom: 4px solid #F1F1F1;
}

.tab_text_info {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.tab_text_info:hover {
    cursor: pointer;
}

.horizontal_line_social {
    position: absolute;
    width: 810px;
    height: 0;
    left: 0;
    top: 65px;
    border: 1px solid #E5E5E5;
    transform: rotate(180deg);
}